@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main_header {
  width: 100%;
  height: 58px;
  background: #252B42;
  display: flex;
  justify-content: space-between;
}

.main_header_first_block {
  width: 500px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main_header_second_block {
  width: 400px;
  height: 58px;
  display: flex;
  align-items: center;
}
.main_header_second_block span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.main_header_third_block {
  width: 245px;
  height: 58px;
  display: flex;
  align-items: center;
}

.main_header_first_block_number span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  margin-left: 5px;
}

.first_block_number {
  display: flex;
}

.main_header_first_block_image img {
  width: 17px;
}

.second_block_number {
  display: flex;
  align-items: center;
}

.main_header_second_block_number span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-left: 7px;
}

.main_header_second_block_image img {
  width: 18px;
  position: relative;
  top: 2px;
}

.main_header_third_block_follow span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.main_header_third_block_icons img {
  width: 18px;
  margin-left: 10px;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.click {
  width: 30px;
  cursor: pointer;
  display: none;
  margin-top: 15px;
  margin-left: 20px;
}

.start_menu {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  margin-left: 23px;
}
.header_logo h1 {
  color: #252B42;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  padding-top: 10px;
}
.header_menu ul a {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.header_signing {
  width: 380px;
  height: 64.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 21px;
}

.header_signing_first_block {
  display: flex;
  margin-left: 15px;
}

.header_signing_second_block {
  display: flex;
}

.signing_link_style a {
  color: #23A6F0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.register {
  margin-left: 5px;
}

.login img {
  width: 14px;
  height: 14px;
  position: relative;
  top: 1px;
}

.icon_margin {
  margin-left: 45px;
}
.icon_margin img {
  width: 16px;
  cursor: pointer;
}

.icon_count span {
  color: #23A6F0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  position: relative;
  bottom: 4px;
}

.first_section {
  width: 100%;
  height: 830px;
  margin-top: 40px;
}

.first_section_center {
  width: 1700px;
  height: 700px;
  background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
}

.first_section_left_block {
  width: 57%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_section_right_block {
  width: 43%;
  height: 700px;
}
.first_section_right_block img {
  width: 732px;
  height: 700px;
  margin-left: 50px;
}

.left_block_texts {
  width: 600px;
  height: 400px;
}

.data span {
  color: #2A7CC7;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.title h1 {
  color: #252B42;
  font-size: 58px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  animation: flash 2s infinite;
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.description p {
  color: #737373;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.button button {
  width: 221px;
  height: 62px;
  background: #23A6F0;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.brands {
  width: 1100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}

.second_section {
  width: 1500px;
  height: 800px;
  margin: 0 auto;
  display: flex;
}

.second_section_first_block {
  width: 50%;
  height: 600px;
  position: relative;
}
.second_section_first_block img {
  width: 750px;
  height: 600px;
}

.second_section_second_block {
  width: 50%;
  height: 600px;
}

.second_block_image {
  text-align: center;
  position: relative;
}
.second_block_image img {
  width: 93%;
  height: 290px;
}

.second_block_second_image {
  text-align: center;
  position: relative;
}
.second_block_second_image img {
  width: 93%;
  height: 284px;
  margin-top: 22px;
}

.image_block_one {
  width: 500px;
  height: 308px;
  background: rgba(45, 139, 192, 0.75);
  position: absolute;
  bottom: 0;
}

.image_block_one_title h1 {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
}

.image_block_one_button button {
  width: 198px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.5s;
}
.image_block_one_button button:hover {
  background: white;
  transition: 0.5s;
  color: rgba(45, 139, 192, 0.75);
}

.centered {
  width: 200px;
  height: 140px;
  position: relative;
  top: 70px;
  left: 80px;
}

.image_block_two {
  width: 400px;
  height: 180px;
  background: rgba(45, 139, 192, 0.75);
  position: absolute;
  bottom: 4px;
  left: 26px;
}

.image_block_two_title {
  width: 308px;
  position: relative;
  right: 7px;
}

.image_block_two_title h1 {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.image_block_two_button {
  width: 0;
}
.image_block_two_button button {
  width: 198px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.5s;
}
.image_block_two_button button:hover {
  background: white;
  transition: 0.5s;
  color: rgba(45, 139, 192, 0.75);
}

.image_block_two_centered {
  position: relative;
  left: 60px;
  top: 20px;
}

.container {
  width: 1500px;
  height: auto;
  margin: 0 auto;
}

.product_section {
  width: 100%;
  height: 1500px;
}

.products {
  width: 1500px;
  height: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.featured_products span {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.2px;
}

.sell_products h1 {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.products_description span {
  color: rgb(115, 115, 115);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.products_content {
  width: 100%;
  height: 1150px;
  margin-top: 60px;
}

.first_products_content {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.second_products_content {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.real_product {
  width: 280px;
  height: 500px;
}

.real_product_image img {
  width: 100%;
}

.real_product_title {
  text-align: center;
}
.real_product_title p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
}

.real_product_department {
  text-align: center;
}
.real_product_department span {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
}

.real_product_price {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.first_price span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(189, 189, 189);
}

.second_price span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(35, 133, 109);
  margin-left: 10px;
  margin-right: 10px;
}

.second_products_content {
  display: flex;
  justify-content: space-between;
}

.product_button {
  text-align: center;
}
.product_button button {
  width: 256px;
  height: 52px;
  background: none;
  border: 2px solid rgb(35, 166, 240);
  color: rgb(35, 166, 240);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.product_button button:hover {
  background: rgb(35, 166, 240);
  color: #fff;
  transition: 0.5s;
}

.third_section {
  width: 1500px;
  height: 800px;
  margin: 0 auto;
  display: flex;
}

.third_section_first_block {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.third_section_first_block img {
  width: 49%;
  height: 600px;
}

.third_section_second_block {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_block_main_text p {
  color: rgb(35, 166, 240);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
}

.third_block_title h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: rgb(37, 43, 66);
}

.third_block_description p {
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.third_block_texts {
  width: 450px;
  height: 300px;
}

.about_featured_products {
  width: 1500px;
  height: 570px;
}

.end_block {
  height: 430px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.best_services {
  width: 28%;
  height: 300px;
}
.best_services h1 {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
}

.best_services_text p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(115, 115, 115);
  letter-spacing: 0.2px;
  line-height: 20px;
}

.post_section {
  width: 100%;
  height: 880px;
  margin-top: 50px;
}

.post_section_texts {
  height: 250px;
}

.post_section_texts_practice {
  text-align: center;
}
.post_section_texts_practice span {
  color: rgb(35, 166, 240);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.post_section_texts_featured {
  text-align: center;
}
.post_section_texts_featured h1 {
  color: rgb(37, 43, 66);
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2px;
}

.posts {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.first_post {
  width: 48%;
  height: 500px;
  position: relative;
  display: flex;
}

.first_post_image {
  width: 44%;
}
.first_post_image img {
  width: 100%;
  height: 500px;
}

.first_post_sale {
  position: absolute;
  top: 20px;
  left: 20px;
}
.first_post_sale button {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  background: rgb(231, 64, 64);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.first_post_end_images {
  position: absolute;
  bottom: 25px;
  left: 70px;
}
.first_post_end_images img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.second_post {
  width: 56%;
  height: 500px;
  position: relative;
  display: flex;
}

.second_post_image {
  width: 40%;
}
.second_post_image img {
  width: 100%;
  height: 500px;
}

.second_post_sale {
  position: absolute;
  top: 20px;
  left: 20px;
}
.second_post_sale button {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  background: rgb(231, 64, 64);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.second_post_end_images {
  position: absolute;
  bottom: 25px;
  left: 70px;
}
.second_post_end_images img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.first_post_texts {
  width: 56%;
  height: 500px;
}

.first_post_texts_container {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}

.first_post_texts_main_department span {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgb(35, 166, 240);
}

.first_post_texts_main {
  display: flex;
  justify-content: space-between;
}

.first_post_texts_main_rating {
  width: 50px;
  height: 26px;
  border-radius: 20px;
  gap: 5px;
  background: rgb(37, 43, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_post_texts_main_rating img {
  width: 16px;
  height: 16px;
}
.first_post_texts_main_rating span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}

.first_post_texts_title {
  margin-top: 10px;
}
.first_post_texts_title span {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
}

.first_post_texts_description p {
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 15px;
  color: rgb(115, 115, 115);
}

.first_post_texts_downloads {
  display: flex;
  gap: 10px;
}
.first_post_texts_downloads span {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
}
.first_post_texts_downloads img {
  width: 16px;
  height: 16px;
}

.first_post_texts_price {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.expensive_price span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(189, 189, 189);
}

.low_price span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(35, 133, 109);
}

.wh_border {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.first_post_texts_color {
  display: flex;
  gap: 7px;
  margin-top: 25px;
}

.first_post_backgrounds_1 {
  background: rgb(35, 166, 240);
}

.first_post_backgrounds_2 {
  background: rgb(35, 133, 109);
}

.first_post_backgrounds_3 {
  background: rgb(231, 124, 64);
}

.first_post_backgrounds_4 {
  background: rgb(37, 43, 66);
}

.first_post_texts_about {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.about_thing {
  display: flex;
  align-items: center;
  gap: 5px;
}
.about_thing span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
}

.first_post_texts_button {
  margin-top: 25px;
}
.first_post_texts_button button {
  width: 141px;
  height: 44px;
  border-radius: 37px;
  border: 1px solid rgb(35, 166, 240);
  gap: 10px;
  background: none;
  color: rgb(35, 166, 240);
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_post_texts_container {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}

.second_post_texts_main_department span {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgb(35, 166, 240);
}

.second_post_texts {
  width: 56%;
}

.second_post_texts_main {
  display: flex;
  justify-content: space-between;
}

.second_post_texts_main_rating {
  width: 50px;
  height: 26px;
  border-radius: 20px;
  gap: 5px;
  background: rgb(37, 43, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}
.second_post_texts_main_rating img {
  width: 16px;
  height: 16px;
}
.second_post_texts_main_rating span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}

.second_post_texts_title {
  margin-top: 10px;
}
.second_post_texts_title span {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
}

.second_post_texts_description p {
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 15px;
  color: rgb(115, 115, 115);
}

.second_post_texts_downloads {
  display: flex;
  gap: 10px;
}
.second_post_texts_downloads span {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
}
.second_post_texts_downloads img {
  width: 16px;
  height: 16px;
}

.second_post_texts_price {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.second_post_texts_color {
  display: flex;
  gap: 7px;
  margin-top: 25px;
}

.second_post_backgrounds_1 {
  background: rgb(35, 166, 240);
}

.second_post_backgrounds_2 {
  background: rgb(35, 133, 109);
}

.second_post_backgrounds_3 {
  background: rgb(231, 124, 64);
}

.second_post_backgrounds_4 {
  background: rgb(37, 43, 66);
}

.second_post_texts_about {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.second_post_texts_button {
  margin-top: 25px;
}
.second_post_texts_button button {
  width: 141px;
  height: 44px;
  border-radius: 37px;
  border: 1px solid rgb(35, 166, 240);
  gap: 10px;
  background: none;
  color: rgb(35, 166, 240);
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.before_footer {
  width: 100%;
  height: 150px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.before_footer_row {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.before_footer_logo h1 {
  color: #252B42;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.before_footer_images {
  margin-right: 50px;
}
.before_footer_images img {
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
}

.footer_menu {
  width: 1100px;
  display: flex;
}

.margin {
  width: 450px;
}

.company {
  position: relative;
  right: 40px;
}
.company ul li {
  list-style: none;
  margin-bottom: 20px;
}
.company ul a {
  color: rgb(115, 115, 115);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.company h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 38px;
}

.legal ul li {
  list-style: none;
  margin-bottom: 20px;
}
.legal ul a {
  color: rgb(115, 115, 115);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.legal h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 38px;
}

.features ul li {
  list-style: none;
  margin-bottom: 20px;
}
.features ul a {
  color: rgb(115, 115, 115);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.features h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 38px;
}

.resources ul li {
  list-style: none;
  margin-bottom: 20px;
}
.resources ul a {
  color: rgb(115, 115, 115);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.resources h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 38px;
}

.get_touch {
  height: 227px;
  margin-left: 20px;
}

.get_touch_text h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
}

.get_touch_write {
  display: flex;
  align-items: center;
}
.get_touch_write input {
  width: 184px;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding-left: 20px;
  background: linear-gradient(0deg, #E6E6E6, #E6E6E6), linear-gradient(0deg, #F9F9F9, #F9F9F9);
}
.get_touch_write input::placeholder {
  color: rgb(115, 115, 115);
}
.get_touch_write button {
  width: 117px;
  height: 59px;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(0deg, #23A6F0, #23A6F0), linear-gradient(0deg, #E6E6E6, #E6E6E6);
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #fff;
  cursor: pointer;
}

.get_touch_end_text span {
  color: rgb(115, 115, 115);
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  top: 5px;
}

.finish_website {
  width: 100%;
  height: 74px;
  background: #fff;
}

.finish_website_container {
  width: 1500px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.finish_website_container p {
  color: rgb(115, 115, 115);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1805px) {
  .first_section_center {
    width: 1278px;
  }
  .first_section_right_block {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .first_section_right_block img {
    width: 668px;
    height: 606px;
  }
}
@media screen and (max-width: 1514px) {
  .second_section {
    width: 100%;
    justify-content: center;
  }
  .second_section_first_block {
    width: 43.8%;
    height: 459px;
  }
  .second_section_first_block img {
    width: 100%;
    height: 459px;
  }
  .image_block_one {
    width: 400px;
    height: 258px;
  }
  .centered {
    top: 40px;
  }
  .second_section_second_block {
    width: auto;
    height: 459px;
  }
  .second_block_image {
    width: 550px;
  }
  .second_block_image img {
    width: 100%;
    height: 215px;
  }
  .second_block_second_image {
    width: 550px;
  }
  .second_block_second_image img {
    width: 100%;
    height: 218px;
  }
  .container {
    width: 100%;
  }
  .products {
    width: 100%;
  }
  .first_products_content {
    justify-content: center;
  }
  .second_products_content {
    justify-content: center;
  }
  .real_product {
    width: auto;
    margin-left: 40px;
  }
  .third_section {
    width: 100%;
    justify-content: center;
  }
  .third_section_first_block {
    justify-content: normal;
  }
  .third_section_first_block img {
    width: 40%;
    height: 530px;
  }
  .third_section_second_block {
    width: 31%;
  }
  .end_block {
    justify-content: center;
  }
  .best_services {
    width: 23%;
    height: 300px;
  }
  .about_featured_products {
    width: 100%;
  }
  .finish_website_container {
    width: 100%;
  }
  .footer_menu {
    width: 957px;
  }
}
@media screen and (max-width: 1370px) {
  .first_section_center {
    width: 100%;
    height: 525px;
    align-items: center;
  }
  .title h1 {
    font-size: 45px;
  }
  .description p {
    font-size: 15px;
  }
  .data span {
    font-size: 13px;
  }
  .button button {
    width: 187px;
    height: 54px;
    font-size: 16px;
  }
  .first_section_left_block {
    width: 41%;
    height: auto;
    margin-left: 20px;
  }
  .first_section_right_block {
    height: auto;
  }
  .first_section_right_block img {
    width: 500px;
    height: 410px;
  }
  .first_section {
    height: 660px;
  }
  .footer_menu {
    width: 800px;
  }
  .company {
    right: 0;
  }
  .before_footer_row {
    margin: 40px;
  }
  .finish_website_container {
    width: auto;
    margin-left: 40px;
  }
}
@media screen and (max-width: 1557px) {
  footer {
    height: auto;
    display: block;
  }
  .footer_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .get_touch {
    display: grid;
    justify-content: center;
    height: auto;
  }
  .brands {
    width: 100%;
  }
}
@media screen and (max-width: 1180px) {
  .main_header {
    display: block;
    height: auto;
  }
  .first_section {
    height: 570px;
  }
  .products_content {
    height: 1070px;
  }
  .second_section {
    height: 500px;
  }
  .main_header_first_block {
    margin: 0 auto;
  }
  .main_header_second_block {
    margin: 0 auto;
  }
  .main_header_third_block {
    margin: 0 auto;
  }
  .click {
    display: inline-block;
  }
  header {
    display: none;
  }
  .start_menu {
    width: 100%;
  }
  .post_section {
    height: auto;
  }
  .posts {
    height: auto;
    display: grid;
    justify-content: center;
  }
  .first_post {
    width: 100%;
  }
  .first_post_image {
    width: 44%;
  }
  .first_post_texts {
    width: 56%;
    margin-left: 32px;
  }
  .first_post_end_images {
    left: 35px;
  }
  .second_post {
    width: 100%;
    margin-top: 15px;
  }
  .second_post_image {
    width: 44%;
  }
  .second_post_texts {
    width: 56%;
    margin-left: 32px;
  }
  .second_post_end_images {
    left: 35px;
  }
  .header_logo {
    margin-left: 18px;
  }
  .header_signing {
    margin-left: 6px;
  }
  .first_section_left_block {
    width: 36%;
  }
  .first_section_center {
    height: 447px;
  }
  .first_section_right_block {
    width: 100%;
  }
  .second_section_first_block {
    width: 34.8%;
    height: 352px;
  }
  .second_section_first_block img {
    height: 352px;
  }
  .image_block_one {
    width: 285px;
    height: 180px;
  }
  .centered {
    left: 48px;
    top: 0;
  }
  .image_block_one_title h1 {
    font-size: 20px;
  }
  .image_block_one_button button {
    width: 160px;
    height: 40px;
  }
  .second_block_image {
    width: 480px;
  }
  .second_block_image img {
    width: 430px;
    height: 163px;
  }
  .second_block_second_image {
    width: 480px;
  }
  .second_block_second_image img {
    width: 430px;
    height: 163px;
  }
  .image_block_two {
    width: 270px;
    height: 110px;
  }
  .image_block_two_title {
    bottom: 30px;
  }
  .image_block_two_title h1 {
    font-size: 18px;
    width: 175px;
  }
  .image_block_two_button {
    position: relative;
    bottom: 50px;
  }
  .image_block_two_button button {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 905px) {
  .data span {
    font-size: 11px;
  }
  .title h1 {
    font-size: 35px;
  }
  .description p {
    font-size: 13px;
  }
  .button button {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
  .first_section_right_block img {
    width: 400px;
    height: 310px;
  }
}
@media screen and (max-width: 785px) {
  .third_section {
    height: auto;
    display: block;
  }
  .third_section_first_block {
    width: 95%;
    height: auto;
    gap: 20px;
    margin-left: 15px;
  }
  .third_section_first_block img {
    width: 50%;
  }
  .third_section_second_block {
    width: 100%;
    height: 400px;
  }
  .second_section {
    height: auto;
    display: block;
  }
  .second_section_first_block {
    width: 100%;
    height: auto;
  }
  .second_section_first_block img {
    height: 500px;
  }
  .second_section_second_block {
    width: auto;
    height: auto;
  }
  .second_block_image {
    width: 100%;
  }
  .second_block_image img {
    width: 100%;
    height: 240px;
    margin-top: 17px;
  }
  .second_block_second_image {
    width: 100%;
  }
  .second_block_second_image img {
    width: 100%;
    height: 240px;
  }
  .image_block_one {
    width: 460px;
    height: 270px;
    bottom: 4px;
  }
  .image_block_one_title h1 {
    font-size: 24px;
  }
  .image_block_one_button button {
    width: 240px;
    height: 60px;
    font-size: 17px;
  }
  .image_block_two {
    width: 363px;
    height: 160px;
    left: 0;
  }
  .image_block_two_title {
    bottom: 0;
  }
  .image_block_two_button {
    bottom: 14px;
  }
  .product_section {
    height: 5240px;
    position: relative;
  }
  .products {
    height: auto;
  }
  .first_products_content {
    height: auto;
    display: block;
  }
  .second_products_content {
    display: block;
  }
  .real_product {
    height: auto;
    text-align: center;
    margin-top: 30px;
  }
  .products_content {
    height: auto;
  }
  .third_section {
    height: auto;
    margin-top: 40px;
  }
  .real_product_image img {
    width: 270px;
  }
  .product_button {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 748px) {
  .first_section {
    height: 870px;
  }
  .data span {
    font-size: 14px;
  }
  .title h1 {
    font-size: 40px;
  }
  .description p {
    font-size: 15px;
  }
  .button button {
    width: 200px;
    height: 60px;
    font-size: 17px;
  }
  .first_section_center {
    height: auto;
    display: grid;
    justify-content: center;
  }
  .first_section_left_block {
    width: 100%;
  }
  .left_block_texts {
    width: auto;
  }
  .first_section_right_block img {
    width: 500px;
    height: 400px;
  }
  .brands {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .start_menu {
    display: grid;
    justify-content: center;
  }
  .header_menu ul li {
    list-style: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header_signing {
    display: grid;
    justify-content: end;
    margin-left: -26px;
    margin-top: 15px;
  }
  .header_signing_first_block {
    margin-left: 45px;
  }
  .first_section_right_block img {
    width: 100%;
    margin-left: 0;
  }
  .third_section_first_block {
    display: block;
    text-align: center;
  }
  .third_section_first_block img {
    width: 300px;
  }
  .third_block_description p {
    font-size: 12px;
  }
  .third_block_title h1 {
    font-size: 35px;
  }
  .third_block_texts {
    width: auto;
  }
  .third_block_main_text p {
    font-size: 14px;
  }
  .third_section_second_block {
    justify-content: end;
  }
  .about_featured_products {
    height: 860px;
  }
  .end_block {
    display: grid;
    justify-content: center;
    height: auto;
    margin-top: 40px;
  }
  .best_services {
    width: 100%;
    height: 230px;
  }
  .post_section {
    height: auto;
  }
  .first_post {
    height: auto;
    display: grid;
    position: static;
  }
  .second_post {
    height: auto;
    display: grid;
    position: static;
  }
  .second_post_image {
    position: relative;
    width: 100%;
  }
  .second_post_end_images {
    left: 75px;
  }
  .first_post_image {
    width: 100%;
    position: relative;
  }
  .first_post_end_images {
    left: 75px;
  }
  .second_section_first_block img {
    height: 415px;
  }
  .image_block_one {
    width: 100%;
    height: 200px;
  }
  .main_header_first_block {
    display: block;
  }
  .first_block_number {
    justify-content: center;
  }
  .main_header_second_block {
    justify-content: center;
  }
  .second_block_number {
    margin-top: 10px;
    justify-content: center;
  }
  .first_section_left_block {
    margin-left: 0;
  }
  .brands img {
    margin: 20px 10px;
  }
  .footer_menu {
    width: 100%;
    display: grid;
    justify-content: center;
  }
  .margin {
    width: 159px;
    text-align: center;
  }
  .main_header_first_block {
    width: 100%;
  }
  .image_block_two {
    width: 100%;
  }
  .image_block_two_title {
    width: auto;
  }
  .image_block_two_centered {
    width: 175px;
    left: 134px;
    top: 12px;
  }
  .product_section {
    margin-top: 25px;
  }
  .before_footer_row {
    display: block;
    margin: 72px;
  }
  .header_signing {
    margin-left: 0;
    justify-content: center;
  }
  .main_header_second_block {
    width: auto;
  }
  .left_block_texts {
    text-align: center;
  }
  .before_footer {
    margin-top: 25px;
  }
}
.toggle {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
